<mat-card>
  <p style="text-align: center;">To Do Tasks</p>
  <mat-accordion>

    <mat-expansion-panel *ngFor='let task of tasks | async'>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{task.title}}
        </mat-panel-title>
        <mat-panel-description>

          Priorirty: {{task.priority}}
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-panel-description>
        Description
      </mat-panel-description>
      {{task.description}}

      <mat-action-row>
        <div class="material-buttons">
          <button mat-icon-button (click)="onEditClicked(task)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </mat-action-row>


    </mat-expansion-panel>

  </mat-accordion>
</mat-card>
